.TsDayPicker .datefield {
  width: 100px;
  text-align: center;
}

.TsDayPicker .tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  font-weight: bold;
}

.TsDayPicker .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #00BCD4;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 110%;
  top: -5px;
  font-weight: normal;
}

.TsDayPicker .tooltip:hover .tooltiptext {
  visibility: visible;
}

.TsDayPicker .DayElement {
  padding: 2px 2px;
}
