.TsVehicleEvents {
  display: inline-block;
}

.TsVehicleEvents .CheckboxesLeft {
  float: left;
  width: 50%;
}

.TsVehicleEvents .CheckboxesRight {
  float: left;
  width: 50%;
}

.TsVehicleEvents .EventsTable {
  padding-top: 10px;
  float: left;
  clear: none;
}

.TsVehicleEvents table * {
  height: 30px !important;
}

.TsVehicleEvents table tr td:first-child {
  width: 60px;
  padding-right: 0px !important;
  padding-left: 5px !important;
}

.TsVehicleEvents table thead th:first-child {
  width: 60px;
  padding-right: 0px !important;
  padding-left: 5px !important;
}
