.TsVehicleDataSearch {
  font-size: 14px;
}

.TsVehicleDataSearch .VehicleSearchTable {
  padding: 12px;
}

.TsVehicleDataSearch .VehicleSearchTableCol {
  padding-bottom: 5px;
  padding-right: 5px;
}

.TsVehicleDataSearch .OperatorDropdown {
  font-size: 14px;
  width: 100%;
}

.TsVehicleDataSearch .TimeInput {
  width: 100%;
}

.TsVehicleDataSearch .BetweenTimes {
  padding-left: 5px;
}

.TsVehicleDataSearch .VehicleInformation {
  width: 100%;
  padding-right: 5px;
  padding-top: 5px;
}

.TsVehicleDataSearch .VehicleSearchVehicleData {
  padding-right: 5px;
  padding-top: 10px;
}

.TsVehicleDataSearch .VehicleBasicData {
  padding-left: 5px;
}
