.TsJourneyBulletinsDialog .TsDialog > .react-draggable {
  width: 400px;
  height: 500px;
}

.TsJourneyBulletinsDialog .DialogContent {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0%, 250%);
}
